<% layout('layout') -%>
<% include partials/nav %>

<div style = "margin-top:100px;">
  <% if (messages.success) { %> 
      <div style = "margin-top: 50px;" class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= messages.success %>
      </div>
  <% } %>
  Welcome to my website.
  <a href = '/items'>Link to items</a>
  <br>
  <a href = '/forgot'>Link to reset password</a>
</div>
  
